@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";

.mosha__toast__content__text {
  font-size: 20px;
}

.main {
  padding: 20px;

  @media (min-width: 1200px) {
    margin-bottom: 30rem !important;
  }

  @media (min-width: 1920px) {
    margin-bottom: 28rem !important;
  }
}

.main-container {
  @include main_container;

  @media (min-width: $breakpoint_md) {
    padding: 1.5rem 2.5rem;
  }

  .sendQuote {
    &__form {
      &--labelId {
        @include label;
      }

      &--inputId {
        /**/
      }

      &--btnSubmit {
        margin-top: 0.75rem;
      }

      .spinner-container {
        display: flex;
        justify-content: center;
      }
    }
  }

  .emailInputContainer {
    .btnSubmit {
      @include btnSubmitPdf;
    }

  }
}

.toast1 {
  top: 0;
  margin-bottom: 2rem;
}