@import '../../../styles/global.scss';
@import '../../../styles/mixin.scss';

.mainContainer {
  background-color: rgb(249, 250, 251);

  .card {
    display: flex;
    margin-top: 1.5rem;
    flex-direction: column;
    width: 100%;

    &__tableContainer {
      overflow: auto;
      padding: 0.8rem;
      min-width: 100%;
      height: 100%;
      margin-right: 20rem;
      height: 68vh;
    }
  }

  .tableContainer {
    overflow: auto;
    padding: 0 0;
    min-width: 100%;
    height: 85vh;
  }

  .genericTable {
    border-radius: 50px;

    .border {
      height: 1px;
      padding: 0px;
      color: black;
    }

    .table-header {
      @include thead;
    }

    

    .genericTBody {
      tr {
        background-color: white !important;
        border-top: 1px solid rgb(206, 206, 206) !important;

        &:hover {
          background-color: #ebebeb !important;
        }

        td {
          height: 3.5rem;
          padding: 0 5px;
          font-size: 10.5px;
          font-weight: 600;
          text-align: center;
          vertical-align: middle;

          span {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          input{
            @include input;
          }

        }
      }
    }
  }
}