$primary: #1d4ed8;
$primary_hover: #3b6cf4;
$active_link: #002486;
$secondaryColor: #10b981;

$gray_200: #dbdbdb;
$tablesBackgroundColor: #FAFAFA;
$primaryBtnColor: #3b82f6;

$tableColor: #1a6aff;

$breakpoint_sm: 576px;
$breakpoint_md: 768px;
$breakpoint_lg: 992px;
$breakpoint_xl: 1200px;
$breakpoint_xxl: 1400px;
