@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";

.main {
  padding: 0.75rem;
  @media (min-width: $breakpoint_md) {
    padding: 1.25rem;
  }
}

.carriers-fee {
  @include main_container;
  margin: 0 auto;
  padding: 1.5rem;

  @media (min-width: $breakpoint_md) {
    padding: 1.5rem 2.5rem;
  }

  &__title {
    @include title;
  }

  &__searchIcon {
    @include searchIcon;
  }

  &__icon {
    @include icon;
  }

  &__button:hover {
    color: #1e3a8a;
  }

  &__subtitle {
    @include subtitle;
  }

  &__form {
    .label {
      @include label;
    }

    .input-search {
      @include input;
      margin-bottom: 0.75rem;
    }
  }

  .spin-container {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: auto;

    &__table {
      width: 95%;
      border: 2px solid black;
      margin-top: 1.5rem;

      @media (min-width: 768px) {
        border: none;
        width: 60%;
      }

      th {
        border: 1px solid black;
        text-align: center;
        width: 50%;
        background-color: $tableColor;
        color: white;
        font-size: 16px;
        font-weight: 500;
      }

      td {
        border: 1px solid black;
        padding: 8px;
        font-size: 16px;
        padding-left: 10px;
        font-weight: 500;
        max-width: 50px;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .buy-rates-section {
      margin-top: 2.5rem;

      .rates-title {
        position: relative;
        width: fit-content;
        margin: 0 auto;
        @include secondaryTitle;
      }

      .inpt-row {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        gap: 30px;

        .inpt-col {
          flex-basis: 33%;

          label {
            @include label;
            margin-bottom: 0.5rem;
            display: inline-block;
          }

          input {
            @include input;
          }

          select {
            @include select;
          }
        }
      }

      .accesorials-title {
        padding: 2.5rem 0 1.5rem 0;
        font-size: 1.5rem;
        font-weight: 600;
      }

      .buy-accesorials-container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 20px;

        &__col {
          flex-basis: 100%;
          display: flex;
          flex-direction: column;

          input[type="checkbox"] {
            outline: 0;
          }

          input[type="number"] {
            margin-top: 0.7rem;
            @include input;
          }
        }
        @media (min-width: 768px) {
          &__col {
            flex-basis: 20%;
            display: flex;
            flex-direction: column;

            input[type="number"] {
              margin-top: 0.7rem;
              @include input;
            }
          }
        }
      }
    }

    .sell-rates-section {
      margin-top: 5rem;

      .rates-title {
        position: relative;
        width: fit-content;
        margin: 0 auto;
        @include tertiaryTitle;
      }

      .inpt-row {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        gap: 30px;

        .inpt-col {
          flex-basis: 33%;

          label {
            @include label;
            margin-bottom: 0.5rem;
            display: inline-block;
          }

          input {
            @include input;
          }

          select {
            @include select;
          }
        }
      }

      .sell-accesorials-subtitle {
        padding: 2rem 0 0.5rem 0;
        font-size: 1.5rem;
        font-weight: 600;
      }

      .sell-accesorials-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        &__col {
          flex-basis: 100%;
          display: flex;
          flex-direction: column;

          input[type="number"] {
            margin-top: 0.7rem;

            @include input;
            width: 100% !important;
          }
        }

        @media (min-width: 768px) {
          &__col {
            flex-basis: 20%;
            display: flex;
            flex-direction: column;

            input[type="number"] {
              margin-top: 0.7rem;
              @include input;
            }
          }
        }
      }
    }

    .note-container {
      margin-top: 2rem;

      .note-title {
        font-size: 1.5rem;
      }

      .inpt_note {
        width: 100%;
      }
    }

    .btn-save-fee {
      padding: 0.5rem 2rem;
      margin-top: 1rem;
      border-radius: 0.375rem;
      border-width: 2px;
      border-color: $secondaryColor;
      font-weight: 500;
      color: #ffffff;
      background-color: $secondaryColor;
      cursor: pointer;

      &:hover {
        border-color: #059669;
        color: #ffffff;
        background-color: #059669;
      }
    }
  }

  &__btnAddCarrier {
    display: flex;
    padding: 0.5rem 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.375rem;
    border: 2px solid $primaryBtnColor;
    height: 100%;
    font-weight: 500;
    color: $primaryBtnColor;
    cursor: pointer;

    span {
      margin-left: 0.5rem;
    }

    &:hover {
      color: #ffffff;
      background-color: #3b82f6;
    }
  }
}

.mosha__toast__content__text {
  font-size: 20px;
}

.hidden {
  display: none;
}

.toast1 {
  top: 0;
  margin-bottom: 2rem;
}
