@import '../../../styles/global.scss';
@import '../../../styles/mixin.scss';

.searchSection {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;


  width: 100%;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  //SEARCH ID
  &__container {

    //RELATIVE
    &--form {
      position: relative;

      .searchSection__input {
        @include input;
      }

      .searchSection__inputSearchID {
        height: 30px !important;

        border-radius: 0.5rem;
        border-width: 1px;
        border-color: #d1d5db;
        width: 100%;
        background-color: #f9fafb;
      }

      .searchSection__btnSearch {
        position: absolute;
        bottom: 0.375rem;
        right: 0.625rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        //border-radius: 0.5rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        color: #ffffff;
        background-color: #1d4ed8;

        &:hover {
          background-color: #1e40af;
        }
      }
    }
  }

  .sort {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 0.75rem;
    }

    &__sortByPort {
      &--labelSort {
        @include label;
      }

      &--select {
        @include select;
      }

      &--selectPort {
        display: block;
        padding: 0.625rem;
        border-radius: 0.5rem;
        border-color: #d1d5db;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #111827;
        background-color: #f9fafb;
      }
    }

    //sortByOperation
    &__sortByOperation {
      display: block;

      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 500;
      color: #111827;

      &--labelOperation {
        @include label;
      }

      &--select {
        @include select;
      }

      &--selectOperation {
        display: block;
        padding: 0.625rem;
        border-radius: 0.5rem;
        border-color: #d1d5db;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #111827;
        background-color: #f9fafb;
      }
    }

    &__sortByDate {
      &--labelDate {
        @include label;
      }

      &--selectDate {
        @include select;
        display: block;
        padding: 0.625rem;
        border-radius: 0.5rem;
        border-color: #d1d5db;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #111827;
        background-color: #f9fafb;
      }
    }

    &__sortByMonth {
      &--labelMonth {
        @include label;
      }

      &--selectMonth {
        @include select;
        display: block;
        padding: 0.625rem;
        border-radius: 0.5rem;
        border-color: #d1d5db;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #111827;
        background-color: #f9fafb;
      }
    }
  }
}


.allQuotes {
  margin-top: 1.5rem;
  background-color: $tablesBackgroundColor;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 1.5rem;
  height: 70vh;

  @media (min-width: 768px) {

    padding-bottom: 1.5rem;
  }

  &__btnBackIcon {
    @include icon;
  }

  &__title {
    @include title;
  }

  &__subtitle {
    @include subtitle;
  }

}

.sectionQuotes {
  // transform: rotateX(180deg);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 67.4vh;

  &__tableContainer {
    overflow: auto;
    padding: 0 0;
    min-width: 100%;
    height: 100%;

    @media (min-width: 640px) {
      margin-left: -1.5rem;
      margin-right: -1.5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    @media (min-height: 900px) {
      height: 100%;
    }




    &--table {
      border-width: 1px;
      min-width: 100%;
      font-weight: 300;
      text-align: center;

      .border {
        height: 1px;
        padding: 0px;
        color: black;
      }

      .sectionQuotes__thead {
        @include thead;

        th {
          font-size: 11px;
          padding: .3rem .3rem;

        }

        th:nth-child(8) {
          width: 50px !important;
        }

        th:nth-child(11) {
          max-width: 30px !important;
          padding: 0;
        }


      }

      tbody {

        tr {
          background-color: white !important;
          border-top: 1px solid rgb(206, 206, 206) !important;

          &:hover {
            background-color: #ebebeb !important;
          }

          td {
            height: 4rem;
            padding: 0 10px;
            font-size: 11px;
            font-weight: 600;

            span {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          td:nth-child(1) {
            font-weight: 500;
            white-space: nowrap;
          }

          td:nth-child(3) {
            padding: 0 !important;
            width: 7rem;
          }

          td:nth-child(8) {
            width: 50px !important;
          }

          // td:nth-child(11) {
          //   max-height: 5.3rem;
          //   display: -webkit-box;
          //   -webkit-box-orient: vertical;
          //   -webkit-line-clamp: 3;
          //   overflow: hidden;
          //   text-overflow: ellipsis;

          // }

          .select {
            @include select;
            width: 90%;

          }

          .select option:nth-child(1) {
            background-color: #00A9FF;
            color: white;
          }

          .selectOptionRequest {
            background-color: #00A9FF;
            color: white;
            font-weight: bold;
          }

          .select option:nth-child(2) {
            background-color: #A8DF8E;
            color: white;
          }

          .selectOptionCarrier {
            background-color: #A8DF8E;
            color: white;
            font-weight: bold;
          }

          .select option:nth-child(3) {
            background-color: #e6cf01;
            color: white;
          }

          .selectOptionQuote {
            background-color: #e6cf01;
            color: white;
            font-weight: bold;
          }

          .select option:nth-child(4) {
            background-color: #F9B572;
            color: white;
          }

          .selectOptionFollowed {
            background-color: #F9B572;
            color: white;
            font-weight: bold;
          }

          .select option:nth-child(5) {
            background-color: #14C38E;
            color: white;
          }

          .selectOptionApproved {
            background-color: #14C38E;
            color: white;
            font-weight: bold;
          }

          .select option:nth-child(6) {
            background-color: #FF6464;
            color: white;
          }

          .selectOptionRejected {
            background-color: #FF6464;
            color: white;
            font-weight: bold;
          }
        }

      }
    }
  }

  &__spin {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .sectionSales__quoteEmpty {
    display: flex;
    padding: 1rem;
    margin-top: 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: #fca5a5;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #991b1b;
    background-color: #fef2f2;
  }
}


.hidden {
  display: none;
}