@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";

.search-section {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  //SEARCH ID
  &__container {
    //RELATIVE
    &--form {
      position: relative;

      .search-quote-inpt {
        /**/
      }

      .searchSection__inputSearchID {
        height: 30px !important;

        border-radius: 0.5rem;
        border-width: 1px;
        border-color: #d1d5db;
        width: 100%;
        background-color: #f9fafb;
      }
    }
  }

  .filter-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 0.75rem;
    }

    &__box{
      display: flex;
      flex-direction: column;

      label{
        @include label;
      }
      
      select {
        /**/
      }
    }
  }
}

.quotes-section {
  // transform: rotateX(180deg);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;

  .table-container {
    overflow: auto;
    padding: 0;
    min-width: 100%;
    height: fit-content;
    height: 80vh;

    &__table {
      border-width: 1px;
      min-width: 100%;
      font-weight: 300;
      text-align: center;
      
      .sectionQuotes__thead {
        @include thead;

        th:nth-child(8) {
          width: 50px !important;
        }

        th:nth-child(11) {
          max-width: 30px !important;
          padding: 0;
        }
      }

      tbody {
        tr {
          background-color: white !important;
          border-top: 1px solid rgb(206, 206, 206) !important;

          &:hover {
            background-color: #ebebeb !important;
          }

          td {
            height: 4rem;
            padding: 0 10px;
            font-size: 11px;
            font-weight: 600;

            span {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          td:nth-child(1) {
            font-weight: 500;
            white-space: nowrap;
          }

          td:nth-child(3) {
            padding: 0 !important;
            width: 7rem;
          }

          td:nth-child(8) {
            width: 50px !important;
          }

          // td:nth-child(11) {
          //   max-height: 5.3rem;
          //   display: -webkit-box;
          //   -webkit-box-orient: vertical;
          //   -webkit-line-clamp: 3;
          //   overflow: hidden;
          //   text-overflow: ellipsis;

          // }

          select {
            /**/
            width: 90%;
          }

          select option:nth-child(1) {
            background-color: #00a9ff;
            color: white;
          }

          .selectOptionRequest {
            background-color: #00a9ff;
            color: white;
            font-weight: bold;
          }

          .select option:nth-child(2) {
            background-color: #a8df8e;
            color: white;
          }

          .selectOptionCarrier {
            background-color: #a8df8e;
            color: white;
            font-weight: bold;
          }

          .select option:nth-child(3) {
            background-color: #e6cf01;
            color: white;
          }

          .selectOptionQuote {
            background-color: #e6cf01;
            color: white;
            font-weight: bold;
          }

          .select option:nth-child(4) {
            background-color: #f9b572;
            color: white;
          }

          .selectOptionFollowed {
            background-color: #f9b572;
            color: white;
            font-weight: bold;
          }

          .select option:nth-child(5) {
            background-color: #14c38e;
            color: white;
          }

          .selectOptionApproved {
            background-color: #14c38e;
            color: white;
            font-weight: bold;
          }

          .select option:nth-child(6) {
            background-color: #ff6464;
            color: white;
          }

          .selectOptionRejected {
            background-color: #ff6464;
            color: white;
            font-weight: bold;
          }
        }
      }
    }
  }

  &__spin {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .error-message-box {
    @include error_message_box;
  }
}

.hidden {
  display: none;
}
